body {
	background: #000;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}
